# ide & editor stuff
.project
.cproject
.vscode

*.tar.gz

*.exe
src/shroud
src/shroudd
src/shroud-cli
src/shroud-tx
src/qt/test/test_shroud-qt
indexnap/*
# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/hybridui/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/tor.timestamp*
src/tor/src/or

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
/Makefile
/src/Makefile
shroud-qt
Shroud-Qt.app

# Unit-tests
Makefile.test
shroud-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

# Xcode
.settings
*.xcodeproj

#lcov
*.gcno
*.gcda
/*.info
test_shroud.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
src/test/buildenv.py
src/test/test_bitcoin

!src/leveldb*/Makefile

/doc/doxygen/

libzcoinconsensus.pc
libbitcoinconsensus.pc
contrib/devtools/split-debug.sh

src/test/test_bitcoin

libbitcoinconsensus.pc
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py

# Qt Creator project files
shroud.config
shroud.creator
shroud.creator.user
shroud.files
shroud.includes

src/qt/libshroudqt.a.VnsPXG

binaries/

shroudbinaries/

shroudbins.zip

.vs/ProjectSettings.json

.vs/Shroud/v16/.suo

.vs/Shroud/v16/Browse.VC.db

.vs/Shroud/v16/ipch/AutoPCH/3979e7b9dd54e5d4/YESCRYPTCOMMON.ipch

.vs/Shroud/v16/ipch/AutoPCH/915659d44193312e/HASH.ipch

.vs/Shroud/v16/ipch/AutoPCH/b03cd4ea22cac1ef/YESPOWER.ipch

.vs/Shroud/v16/ipch/AutoPCH/bcab455a2d50d441/YESCRYPT-R16V2.ipch

.vs/Shroud/v16/ipch/AutoPCH/ccf04fa93d251463/CHAINPARAMS.ipch

.vs/Shroud/v16/ipch/AutoPCH/d3dcd0027e199c2f/MAIN.ipch

.vs/Shroud/v16/ipch/AutoPCH/e0e8d8554a7f6a0d/BLOCK.ipch

.vs/Shroud/v16/ipch/AutoPCH/e300051ce80a5f1f/PHC.ipch

.vs/slnx.sqlite

.vs/VSWorkspaceState.json

.vs/5G-CASH/v16/.suo

.vs/5G-CASH/v16/Browse.VC.db

.vs/5G-CASH/v16/Browse.VC.db-shm

.vs/5G-CASH/v16/Browse.VC.db-wal

.vs/5G-CASH/v16/Browse.VC.opendb

.vs/5G-CASH/v16/ipch/AutoPCH/158f52ffd520d7b0/BLOCKCHAIN.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/19a72ea2fad187d2/SMARTLIST.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/24d01fe032544f09/CONSDIFF.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/255b3f29c7894912/ADDRESSMAP.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/2de28f71832b105a/AMOUNT.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/2deacfbd3974678b/CORRUPTION_TEST.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/3d6b303a3a1daa8b/CHANNELPADDING.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/40fe5b2635021cf3/MAIN.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/4cf245da0fddac2f/CHAINPARAMS.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/50f424e5f2418ef1/BLOOM_TEST.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/54a40baab3d814fa/DB_BENCH.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/602625848328b558/DB_TEST.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/6513b62e45b4a61/CREATE_PAYLOAD_TESTS.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/6f444204d1628294/SENDMPDIALOG.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/80776cb5451d69cc/SIGMADIALOG.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/90d45b5fe3a06dee/WALLET.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/96db348d50bc88d7/ACTIVEFIVEGNODE.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/9c80673f9eb0447b/CHANNELTLS.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/a631ca8a52d78f9e/CHECKPOINT_TESTS.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/aae015f8f2f3fe6e/COMPRESS_TESTS.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/b924b7626b9bf842/DB_BENCH_TREE_DB.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/c0b061dfe26362d0/TRANSACTION.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/c4521f20f46a98c/DB_BENCH_SQLITE3.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/c5a2e435b806888/COMPRESS_ZSTD.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/cf6b4b1421c85285/CLIENTVERSION.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/d9303d7290f9191d/FIVEGNODE.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/e1cc5252366ba7b5/CONNECTION.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/e1e3b004fcd61122/COMMAND.ipch

.vs/5G-CASH/v16/ipch/AutoPCH/ef8f1dbf2ce16461/RPCWALLET.ipch
