/*-------------------------------------------- 
Tool Button Black CSS
--------------------------------------------*/
QToolButton {
    color: #6fab79;
    background: #23471e;
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 6px 20px 6px 6px;
    border-right: 3px solid #1a6e18;
}
QToolButton:pressed, QToolButton:hover:pressed, QToolButton:checked {
    color: #1a6e18;
}
QToolButton:hover:!checked {
    color: #7388b7;
    background: #254e26;
}
QToolButton:disabled {
    color: rgba(111, 128, 171, 20%);
}
